
/*
 *  global
 */

/*
-------------- Reset Stylesheet
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
Reset Stylesheet End ---------------
*/



/*
------------- Global Typesetting
*/
p {
    line-height: 1.6;
    margin-bottom: 1.6em;
    font-size: 1em;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

h1,h2,h3,h4{
    display: block;
    line-height: 1.1;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
/*
 * typesetting 
 */

h1 {
    font-size: 2em;
    font-style: normal;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}
h2 {
    font-size: 1.5em;
    font-style: normal;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}
h3 {
    font-size: 1.17em;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
}
h4 {
    font-size: 1em;
    font-style: normal;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}



/*
Global Typesetting End -------------
*/

/*
------------------ Structure
*/

html, body {
    width: 100%; 
    background: none repeat scroll 0px 0px transparent;
    border: 0px none;
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
    color: #333;
    font-size: 12px;
    line-height: 18px;
    font-family: Georgia,"Bitstream Charter",serif;

}

input, textarea {
    color: #333;
    font-size: 12px;
    line-height: 14px;
}


#wrapper{
    padding: 2px;
    border: 1px solid rgba(0,0,0,0.15);
    border-top: 0;
    background-repeat: no-repeat;
    margin: 0px auto;
    overflow: hidden;
    background: none repeat scroll 0px 0px #F1F1F1;
}

header{
    padding: 2px;
    border-left: 1px solid rgba(0,0,0,0.15);
    border-right: 1px solid rgba(0,0,0,0.15);
    padding-bottom: 0.67em;
    background-repeat: no-repeat;
    margin: 0px auto;
    overflow: hidden;
    background: none repeat scroll 0px 0px #F1F1F1;
}

section{
    padding: 15px;
}

footer{
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0 0 20px 0;
    text-align: center;
}

.v315{
}
._960{
    min-width: 315px;
    max-width: 960px;
}


/*
END Structure ------------------ 
*/





/*
 *  login div 
 */


#login{
    width: 100%;
    border-bottom: 1px solid #999;
    display: inline-block;
}

#login form{
    margin: 3px;
    float: right;
    padding-right: 5px; 
}

#login span{
    min-width: 190px;
    display: inline-block;
    font-size: 12px;
    padding: 0 5px; 
    height: 22px;
    border-right: 1px solid #999;
}



/*
 *  semestr nav 
 */

nav#sem h1{
    margin-bottom: 0;
}

nav#sem{
    clear: both;
    margin: 0;
}
nav#sem > div{
    border-bottom: 1px solid #999;
}
nav#sem span{
    display: inline-block;
    margin: 2px 0;
}
/* lista */
nav#sem span:last-of-type{

}
/*tekst */
nav#sem span:first-of-type{
    width: 100%;
    text-align: center;
    margin: 6px 0 8px;
}
nav#sem ul{
    text-align: center;
    margin: 0;
    padding: 10px 2px 0px;

}
nav#sem li {
    display: inline;
    list-style: none outside none;
}

nav#sem li a{
    font-weight: bold;
    font-size: 27px;
    padding: 0px 10px;
    text-decoration: none;
    color: #333333
}
nav#sem li a:hover{
    background-color: #333333;
    color: #FFFFFF;
}



/*
------------------------ input form
*/

.input span.no-textarea{
    margin: 2px 5px 2px 0;
    display: inline-block;
    width: 48%;
    min-width: 250px;
}
.input span.no-textarea :nth-child(2){
    float: right;
}
select[name="semestr"]{
    min-width: 34px;
}

.input{
    margin: 0;
    padding: 15px;
}

.input textarea{
    margin: 2px 0px;
    width: 100%;
    height: 192px;
}


/*
END input form ---------------------
*/

.post > div{
    min-width: 275px; 
}

.post > div h2, .post > div h3 {
    text-align: left;
} 

.guide {
    border: crimson 2px solid;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.guide p {
    margin: 0;
}
.fall-back .post form{
    float:right;
}

/*
------------------------ grid
*/

#grid {
    text-align: center;
    max-width: 480px;
    min-width: 256px;
    width: 63%;
    display: block;
    margin: 0 auto;
}
#grid:after, #main-post:after {
    display: table;
    content: "";
    line-height: 0;
    clear:both;
}
#grid > span{
    overflow: hidden;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid black;
    text-align: center;
    margin: 5px;
    display: inline-table;
    width: 106px;
    height: 106px;
    position: relative;
}

#grid > span > span{
    display: block;
    margin: 0;
    position: absolute;
    width: 100%;
}
#grid .title {
    padding-top: 20px;
    background: #fff;
    z-index: 50;
}
#grid .created {
    color: #fff;
    background: #41cf12;
    width: 100%;
    z-index: 51;
}
#grid .updated {
    color: #fff;
    background: #0e50b9;
    width: 100%;
    z-index: 52;
}
#grid .ended {
    color: #fff;
    background: #333;
    width: 100%;
    z-index: 53;
}
#grid .title img {
    height: 40px;
    display: block;
    margin: 5px auto;
}


#grid > span:hover{
    cursor: pointer;
}


/*
END grid ---------------------
*/


/*
------------------------ main-post
*/

#main-post > article {
    display: inline-block;
    width: 100%;
}

#main-post > article >  h1 {
    margin: 20px 0 0;
    text-align: center;
}
#main-post h2.typ-zadania {
    margin:  0 0 20px;
    text-align: center;
    font-style: italic;
}



#main-post > article  > div {
    padding: 0 5px;
    margin: 0 0 10px;
    width: 48%;
    word-wrap: break-word;
    display: inline-block;
    float: left;
}


/*
END main-post ------------------------
*/